footer {
  background-color: rgb(92, 127, 254);
  text-align: center;
  padding: 20px;
  color: #fff;
}

.link {
  margin: 5px;
  padding: 8px;
  width: 40px;
  color:#fff;
  text-decoration: none;
  font-weight: 800;
}

.error {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
.accedi, .dashboard, .homepage {
  padding: 0 30px;
}
nav {
  background-color: rgb(92, 127, 254);
  padding: 15px;

}


li {
  padding: 0.5rem;
}
.preso {
  list-style-type: disc;
  font-weight: 700;
}
.nonpreso {
  list-style-type: circle;
}

button.preso, button.nonpreso, button.usato, button.nonusato, button.cancella {
  width: 6rem;
  padding: 8px;
  margin: 4px;
  font-size: 12px;
  cursor:grab;
}
button.preso {
  background-color: rgb(176, 248, 224);
  border-radius: 10px;
  border: none;
  font-weight: 700;
}
button.nonpreso {
  background-color: rgb(249, 200, 200);
  border-radius: 10px;
  border: none;
}


button.usato {
  background-color: rgb(176, 248, 224);
  border-radius: 10px;
  border: none;
  font-weight: 700;
}

button.nonusato {
  background-color: rgb(249, 200, 200);
  border-radius: 10px;
  border: none;
}

button.cancella {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid red;
  color: red;
}
button.cancella:hover {
  background-color: rgb(255, 223, 223);
  box-shadow: 1px 2px;
}
button.preso:hover, button.nonpreso:hover, button.usato:hover, button.nonusato:hover{
  border: 1px solid black;
  box-shadow: 1px 2px;
}