html, body {
  height: 100%;
}

footer {
  background-color: rgb(92, 127, 254);
  text-align: center;
  padding: 20px;
  color: #fff;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

.link {
  margin: 5px;
  padding: 8px;
  width: 40px;
  color:#fff;
  text-decoration: none;
  font-weight: 800;
}

.error {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
.accedi, .dashboard, .homepage, .addThings {
  padding: 0 30px;
}
nav {
  background-color: rgb(92, 127, 254);
  padding: 15px;

}


li {
  padding: 0.5rem;
}
.preso {
  list-style-type: disc;
  font-weight: 700;
}
.nonpreso {
  list-style-type: circle;
}
.btnGoto {
    padding: 8px;
    margin: 4px;
    font-size: 12px;
    cursor: grab;
 }
button.preso, button.nonpreso, button.usato, button.nonusato, button.cancella, button.aggiungi, button.aggiorna, button.cerca, button.btnFiltro, input.faiLogin {
  width: 6rem;
  padding: 8px;
  margin: 4px;
  font-size: 12px;
  cursor:grab;
}
button.cancel {
  padding: 8px;
  margin: 4px;
  font-size: 12px;
  cursor: grab;
}
button.preso {
  background-color: rgb(176, 248, 224);
  border-radius: 10px;
  border: none;
  font-weight: 700;
}
button.nonpreso {
  background-color: rgb(249, 200, 200);
  border-radius: 10px;
  border: none;
}


button.usato {
  background-color: rgb(176, 248, 224);
  border-radius: 10px;
  border: none;
  font-weight: 700;
}

button.nonusato {
  background-color: rgb(249, 200, 200);
  border-radius: 10px;
  border: none;
}

button.aggiungi, button.aggiorna, button.cerca, button.btnGoto {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(16, 181, 16);
  color:rgb(16, 181, 16);
}
button.aggiungi:hover, button.aggiorna:hover, button.cerca:hover, button.btnGoto:hover {
  background-color: rgb(212, 255, 212);
  box-shadow: 1px 2px;
}


button.cancella, button.cancel {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid red;
  color: red;
}
button.cancella:hover, button.cancel:hover {
  background-color: rgb(255, 223, 223);
  box-shadow: 1px 2px;
}
button.preso:hover, button.nonpreso:hover, button.usato:hover, button.nonusato:hover {
  border: 1px solid black;
  box-shadow: 1px 2px;
}

input.inputAggiungi, input.cerca {
  padding: 5px;
  margin: 10px 0;
  width: 250px;
}

select.inputAggiungi {
  padding: 0px 1em 0 0;
  margin: 10px 0;
  width: 250px;
  font-family: inherit;
  font-size: inherit;
}

span.inputAggiungi, input[type="checkbox"] {
  padding: 5px;
  margin: 10px 0;
}

.boxCerca {
  margin: 10px 0;
}

.btnFiltro, .faiLogin {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000;
}
.btnFiltro:hover, .faiLogin:hover {
  background-color: rgb(198, 198, 198);
  box-shadow: 1px 2px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.box-dx, .box-sx {
  margin: 10px 0;
  padding: 20px 50px;
  border: 4px dotted rgb(92, 127, 254);
  flex-grow: 100;
  flex-shrink: 1;
  flex-basis: 3px;
  align-self: auto;
}
.box-dx {
  order: 1;
}

.box-sx {
  order: 2;
}

.boxList, .risultatiTrovati {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.boxCerca {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px dotted rgb(240, 243, 253);
}