footer {
  background-color: rgb(92, 127, 254);
  text-align: center;
  padding: 20px;
  color: #fff;
}

.link {
  margin: 5px;
  padding: 8px;
  width: 40px;
  color:#fff;
  text-decoration: none;
  font-weight: 800;
}

.error {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}
.accedi, .dashboard, .homepage {
  padding: 0 30px;
}
nav {
  background-color: rgb(92, 127, 254);
  padding: 15px;

}